doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/css/main.css')
      script(src="/javascript/skel.min.js")
      script(src="/javascript/jquery.min.js")
      script(src="/javascript/jquery.scrollex.min.js")
      script(src="/javascript/util.js")
      script(src="/javascript/main.js")
      script(src="/javascript/bootstrap-min.js")
  body
    block content
