doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/GameBooks/css/main.css')
      script(src="/GameBooks/javascript/skel.min.js")
      script(src="/GameBooks/javascript/jquery.min.js")
      script(src="/GameBooks/javascript/jquery.scrollex.min.js")
      script(src="/GameBooks/javascript/util.js")
      script(src="/GameBooks/javascript/main.js")
      script(src="/GameBooks/javascript/bootstrap-min.js")
  body
    block content
