extends layout

block content
  div(style="text-align: center;")
    h1 #{gameBook.title}
    p Nothing Here Yet, Come Back Soon
    form(action="../view", method="get")
      button(class="btn btn-small btn-primary" type="submit") Back
